body {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: darkslategray;
  background-color: cadetblue;
}

form {
  background-color: oldlace;
  margin: 5%;
  padding: 20px;
  border-radius: 5px;
}

input {
  display: inline-block;
  background-color: lightcyan;
  color: darkslategrey;
  border-radius: 10px;
  height: 35px;
  width: 500px;
  border: 1px solid darkslategray;
  margin: 20px;
}

input:focus {
  outline: 1px solid darkslategray;
}

button {
  background-color: darkslategrey;
  color: lightcyan;
  border-radius: 10px;
  border: 1px solid lightcyan;
  margin: 20px, 10px, 20px, 10px;
  padding: 10px;
}

button:hover {
  background-color: cadetblue;
}
